@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto;
  src: url('../app/fonts/Roboto-Light.ttf');
}

body {
  font-family:Roboto, Arial, Helvetica, sans-serif;
  --secondary-color: #2ecc71;
  max-width: 1068px;
  margin: 0 auto;
}

